In [2]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.8.9-py3-none-any.whl (25 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.8.9
Note: you may need to restart the kernel to use updated packages.

In [7]:
from tabulate import tabulate
data = [["Name", "Place", "Gender"], ["Sandy", "New Delhi", "Male"], ["Harshini", "New Delhi", "Female"], ["Krishna", "UP", "Male"]]
print(tabulate(data))

--------  ---------  ------
Name      Place      Gender
Sandy     New Delhi  Male
Harshini  New Delhi  Female
Krishna   UP         Male
--------  ---------  ------

In [8]:
print(tabulate(data, headers='firstrow'))

Name      Place      Gender
--------  ---------  --------
Sandy     New Delhi  Male
Harshini  New Delhi  Female
Krishna   UP         Male

In [9]:
print(tabulate(data, headers='firstrow', tablefmt='grid'))

+----------+-----------+----------+
| Name     | Place     | Gender   |
+==========+===========+==========+
| Sandy    | New Delhi | Male     |
+----------+-----------+----------+
| Harshini | New Delhi | Female   |
+----------+-----------+----------+
| Krishna  | UP        | Male     |
+----------+-----------+----------+

In [10]:
print(tabulate(data, headers='firstrow', tablefmt='fancy_grid'))

╒══════════╤═══════════╤══════════╕
│ Name     │ Place     │ Gender   │
╞══════════╪═══════════╪══════════╡
│ Sandy    │ New Delhi │ Male     │
├──────────┼───────────┼──────────┤
│ Harshini │ New Delhi │ Female   │
├──────────┼───────────┼──────────┤
│ Krishna  │ UP        │ Male     │
╘══════════╧═══════════╧══════════╛